@import '../../../../assets/styles/index.scss';

div.badge{
  border: none;
  border-radius: $base-size * 10;
  background-color: $red-2;
  color: $red-1;
  width: fit-content;
  padding: $base-size * 2;
  font: $font-sm-semibold;
  line-height: $base-size * 4;
  display: flex;
  align-items: center;
}