
@import '../../../../assets/styles/index.scss';

button {
  font: $font-lg-medium;
  padding-top: $base-size * 4;
  padding-bottom: $base-size * 4;
  border: none;
  border-radius: $base-size * 5;
  cursor: pointer;
  &.btn-active {
    background-color: $blue-1;
    color: $white;
}
&.btn-disabled {
    background-color: $grey-5;
    color: $grey-3;
    cursor: auto;
}
}
