// box-shadow / elevation
$shadow-card: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
// spacing
$base-size: 2px;
$spacing-1: $base-size * 2;
$spacing-2: $base-size * 4;
$spacing-3: $base-size * 6;
$spacing-4: $base-size * 8;
