// grey
$grey-1: #202020;
$grey-2: #626262;
$grey-3: #979797;
$grey-4: #E0E0E0;
$grey-5: #F1F1F1;
$white: #FFFFFF;
// blue
$blue-1: #0095DA;
$blue-2: #DAF3FF;
// orange
$orange-1: #F37021;
$orange-2: #FFE6DA;
// red
$red-1: #ED1C24;
$red-2: #FFDEE0;

