
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;6000;700&display=swap');

$font-xxl-bold: 700 21px Inter, sans-serif;

$font-xl-bold: 700 16px Inter, sans-serif;
$font-xl-semibold: 600 16px Inter, sans-serif;
$font-xl-medium: 500 16px Inter, sans-serif;
$font-xl-regular: 400 16px Inter, sans-serif;

$font-lg-bold: 700 14px Inter, sans-serif;
$font-lg-semibold: 600 14px Inter, sans-serif;
$font-lg-medium: 500 14px Inter, sans-serif;
$font-lg-regular: 400 14px Inter, sans-serif;

$font-md-bold: 700 12px Inter, sans-serif;
$font-md-semibold: 600 12px Inter, sans-serif;
$font-md-medium: 500 12px Inter, sans-serif;
$font-md-regular: 400 12px Inter, sans-serif;

$font-sm-bold: 700 11px Inter, sans-serif;
$font-sm-semibold: 600 11px Inter, sans-serif;
$font-sm-medium: 500 11px Inter, sans-serif;
$font-sm-regular: 400 11px Inter, sans-serif;

$font-xs-bold: 700 10px Inter, sans-serif;
$font-xs-semibold: 600 10px Inter, sans-serif;
$font-xs-medium: 500 10px Inter, sans-serif;
$font-xs-regular: 400 10px Inter, sans-serif;

// h1,
// h2 .Xl-bold {
//   font: $font-xl-bold;
// }